{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
 <h2>你要做哪些操作，请直接点击进入</h2>
{% endblock header %}

{% block content %}
  
  <ul>
 
	  <li> <h3><a href="ftp://{{ user.username }}:{{ user.username }}@10.193.114.252:2121">进入个人文件夹<h3></a></li>
	  <li> <h3><a href="ftp://public:public@10.193.114.252:2121">进入公共文件夹<h3></a></li>
	  <li> <h3><a href="ftp://10.193.114.252:2121">进入项目文件夹（查看）<h3></a></li>
	  <li> <h3><a href="ftp://entertainment:entertainment@10.193.114.252:2121">进入影音娱乐文件夹<h3></a></li>

  </ul>

{% endblock content %}
